// These colors are specific to the theme. Do not use in a package!

@white: #fff;
@semi-white: #f8f8f8;
@black: #000;

@gray: #333;
@light-gray: #969896;
@very-light-gray: #ccc;

// Colors from red to purple
@bright-red: #b52a1d;
@red: #a71d5d;

@orange: #ed6a43;

@yellow: #ffd569;

@green: #63a35c;

@blue: #183691;
@light-blue: #0086b3;

@purple: #795da3;
